.btn-close {}

.btn-close:hover {
    color: var(--accent);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    cursor: pointer;
}

.btn-close:active {
    color: #fff;
    background-color: rgba(217, 4, 41, 0.5);
    border-radius: 50%;
}

.btn-ok:hover {
    color: #fff;
    background-color: var(--accent);
    cursor: pointer;
}

.btn-ok:active {
    color: #fff;
    background-color: #a5021f;
    cursor: pointer;

}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.h1{
    font-weight: bold;
    font-size: 20px;
}